# Logs
logs
*.log

# Dependency directory
node_modules

# Macs
*.DS_Store

# Build cruft
chrome-extension/dist/*.bundle.js
web-app/server/public
web-app/app/build
web-app/server/**/*.js
web-app/server/**/*.js.map

# Config
web-app/server/config/
config.ts
config.js

# Editor cruft
.vscode/
.idea/
*.swp
*slackbot_auth.json
