# Logs
logs
*.log

# Dependency directory
node_modules

# Macs
*.DS_Store

# Build cruft
chrome-extension/dist/*.bundle.js
web-app/server/public
web-app/app/build
web-app/server/**/*.js

# Editor cruft
.vscode/
.idea/
*config.ts
*config.js
*.swp
*slackbot_auth.json
