module.exports = {
    GOOGLE_CLIENT_ID: "",
    GOOGLE_CLIENT_SECRET: "",
    ENV: {
        database: "superteamawesome",
        username: "root",
        password: "",
        config: {
            port: '3306',
            host: 'localhost',
            dialect: 'mysql',

            pool: {
                max: 5,
                min: 0,
                idle: 10000
            }
        }
    }
}
