<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-scope" content="profile email">
    <title>SuperTeamAwesome</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body class='main'>
    <div class='container'>
      <header>
        <div class='header-container'>
          <a href='/' class='title'>SUPER TEAM AWESOMEBOARD<em>™</em></a>
          <ul class='nav-icons'>
            <li class='notification'>
              <span class='flaticon-notification'></span>
              <span class='counter'>
                <span class='number'>2</span>
              </span>
              <ul>
                <li class='header'>ANNOUNCEMENTS</li>
                <li>
                  <div class='message'>SOLVED: This Puzzle Has No Errata</div>
                  <div class='date'>Fri Jan 25, 18:23</div>
                </li>
                <li>
                  <div class='message'>SOLVED: Erraticism</div>
                  <div class='date'>Fri Jan 25, 21:43</div>
                </li>
              </ul>
            </li>
            <li class='chat'>
              <span class='flaticon-chat'></span>
              <span class='counter'></span>
              <div class='slack'>
                <div class='header'>
                  <h3>SLACK</h3>
                  <div class='channel'>
                    <span class='name'>#general</span>
                  </div>
                </div>
                <ul class='messages'>
                  <li>
                    <div class='sender'>
                      <div class='name'>Steph Y</div>
                      <div class='time'>8:41 PM</div>
                    </div>
                    <div class='message'>Does this work?!</div>
                  </li>
                  <li>
                    <div class='sender'>
                      <div class='name'>Steph Y</div>
                      <div class='time'>8:41 PM</div>
                    </div>
                    <div class='message'>Does this work?!</div>
                  </li>
                  <li>
                    <div class='sender'>
                      <div class='name'>Steph Y</div>
                      <div class='time'>8:41 PM</div>
                    </div>
                    <div class='message'>Does this work?!</div>
                  </li>
                  <li>
                    <div class='sender'>
                      <div class='name'>Steph Y</div>
                      <div class='time'>8:41 PM</div>
                    </div>
                    <div class='message'>Does this work?!</div>
                  </li>
                  <li>
                    <div class='sender'>
                      <div class='name'>Steph Y</div>
                      <div class='time'>8:41 PM</div>
                    </div>
                    <div class='message'>Does this work?!</div>
                  </li>
                  <li>
                    <div class='sender'>
                      <div class='name'>Steph Y</div>
                      <div class='time'>8:41 PM</div>
                    </div>
                    <div class='message'>Does this work?!</div>
                  </li>
                  <li>
                    <div class='sender'>
                      <div class='name'>Steph Y</div>
                      <div class='time'>8:41 PM</div>
                    </div>
                    <div class='message'>Does this work?!</div>
                  </li>
                  <li>
                    <div class='sender'>
                      <div class='name'>Steph Y</div>
                      <div class='time'>8:41 PM</div>
                    </div>
                    <div class='message'>Does this work?!</div>
                  </li>
                  <li>
                    <div class='sender'>
                      <div class='name'>Steph Y</div>
                      <div class='time'>8:41 PM</div>
                    </div>
                    <div class='message'>Does this work?!</div>
                  </li>
                  <li>
                    <div class='sender'>
                      <div class='name'>Steph Y</div>
                      <div class='time'>8:41 PM</div>
                    </div>
                    <div class='message'>Does this work?!</div>
                  </li>
                  <li>
                    <div class='sender'>
                      <div class='name'>Steph Y</div>
                      <div class='time'>8:41 PM</div>
                    </div>
                    <div class='message'>Does this work?!</div>
                  </li>
                  <li>
                    <div class='sender'>
                      <div class='name'>Steph Y</div>
                      <div class='time'>8:41 PM</div>
                    </div>
                    <div class='message'>Does this work?!</div>
                  </li>
                  <li>
                    <div class='sender'>
                      <div class='name'>Steph Y</div>
                      <div class='time'>8:41 PM</div>
                    </div>
                    <div class='message'>Does this work?!</div>
                  </li>
                  <li>
                    <div class='sender'>
                      <div class='name'>Steph Y</div>
                      <div class='time'>8:41 PM</div>
                    </div>
                    <div class='message'>Does this work?!</div>
                  </li>
                  <li>
                    <div class='sender'>
                      <div class='name'>Steph Y</div>
                      <div class='time'>8:41 PM</div>
                    </div>
                    <div class='message'>Does this work?!</div>
                  </li>
                  <li>
                    <div class='sender'>
                      <div class='name'>Steph Y</div>
                      <div class='time'>8:41 PM</div>
                    </div>
                    <div class='message'>Does this work?!</div>
                  </li>
                  <li>
                    <div class='sender'>
                      <div class='name'>Steph  Y</div>
                      <div class='time'>8:42 PM</div>
                    </div>
                    <div class='message'>Wow I guess so. Look at that.</div>
                  </li>
                  <li>
                    <div class='sender'>
                      <div class='name'>Steph  Y</div>
                      <div class='time'>8:43 PM</div>
                    </div>
                    <div class='message'>This is supposed to be a really long message with a link <a href='https://docs.google.com/spreadsheets/d/14fZEUwCZlTevlxeFtDptNMy6UJt0YY1bfJjDtkPLSss/edit#gid=486679777'>https://docs.google.com/spreadsheets/d/14fZEUwCZlTevlxeFtDptNMy6UJt0YY1bfJjDtkPLSss/edit#gid=486679777</a></div>
                  </li>
                </ul>
                <input type='text' placeholder='Send a message...' />
              </div>
            </li>
          </ul>
          <ul class='nav'>
            <li>
              <a href='/log'>LOG</a>
            </li>
            <li>
              <a href='/events'>EVENTS</a>
            </li>
            <li>
              <a href='/tools'>TOOLS</a>
            </li>
            <li>
              <a href='/admin'>PUZZLE ADMIN</a>
            </li>
            <li class='user'>
              <a class='name'>{{user.firstName}} {{user.lastName}}</a>
              <ul class='dropdown'>
                <li><a href='/settings'>SETTINGS</a></li>
                <li><a href='/logout'>LOGOUT</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </header>
      {{{ body }}}
    </div>
    <script src="js/bundle.js"></script>
  </body>
</html>