/* Colors */

$red: #e12548;
$orange: #e88714;
$teal: #1bbeb8;
$blue: #1c71b9;
$green: #07b05a;
$greyBlue: #677d8b;
$darkBlue: #112939;
$grey1: #ebebeb;
$grey2: #dfdfdf;
$grey3: #b9b9b9;
$grey4: #656565;
$grey5: #323232;