<div class='login'>
  <div class='login-container'>
    <div class='login-image person-{{random}}'>
    </div>
    <a class='login-button' href='/auth/google'>
      <span class="icon"></span>
      <span class="text">Sign in with Google</span>
    </a>
    <div class='login-title'>
      SUPER TEAM AWESOMEBOARD™
    </div>
  </div>
</div>