/* Mixin */
/* Colors */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%; }

html {
  height: 100%; }

.login {
  background: #FFA54D;
  height: 100%;
  width: 100%; }
  .login .login-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 300px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .login .login-container .login-image {
      background-image: url("../img/characters.svg");
      background-repeat: no-repeat;
      background-size: 800%;
      display: inline-block;
      height: 300px;
      margin-left: -50px;
      width: 300px; }
    .login .login-container .login-image.person-0 {
      background-position: 0px 0px; }
    .login .login-container .login-image.person-1 {
      background-position: -300px 0px; }
    .login .login-container .login-image.person-2 {
      background-position: -600px 0px; }
    .login .login-container .login-image.person-3 {
      background-position: -900px 0px; }
    .login .login-container .login-image.person-4 {
      background-position: -1200px 0px; }
    .login .login-container .login-image.person-5 {
      background-position: -1500px 0px; }
    .login .login-container .login-image.person-6 {
      background-position: -1800px 0px; }
    .login .login-container .login-image.person-7 {
      background-position: -2100px 0px; }
    .login .login-container .login-button {
      background: #4285f4;
      display: inline-block;
      text-decoration: none;
      color: white;
      border-radius: 5px;
      white-space: nowrap; }
      .login .login-container .login-button .icon {
        background: url("../img/google-icon.png") transparent 5px 50% no-repeat;
        display: inline-block;
        vertical-align: middle;
        width: 42px;
        height: 42px;
        border-right: #2265d4 1px solid; }
      .login .login-container .login-button .text {
        display: inline-block;
        vertical-align: middle;
        padding: 0px 20px;
        font-size: 14px; }
    .login .login-container .login-title {
      flex-basis: 100%; }
