@import "settings/mixins.scss";
@import "settings/fonts.scss";
@import "settings/colors.scss";

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
  // overflow: hidden;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  color: $grey5;
}

em {
  color: $orange;
  font-style: normal;
}

ul {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

.container {
  background-image: url('../img/crossword.png');
  background-repeat: repeat;
  height: 100%;
  // padding: 30px;
  // @include calc-width(100%, 60px);
}

.content {
  margin-top: 90px;
  padding: 0px 30px 30px;
}

@import "includes/navigation.scss";
@import "includes/login.scss";
@import "includes/tables.scss";
