/* Colors */

$red: #e12548;
$orange: #e88714;
$teal: #1bbeb8;
$blue: #1c71b9;
$green: #07b05a;
$grey-blue: #677d8b;
$dark-blue: #112939;
$grey1: #ebebeb;
$grey2: #dfdfdf;
$grey3: #b9b9b9;
$grey4: #656565;
$grey5: #323232;
$white: #fff;

/* Icons */

$sta-icon-add: "\e000";
$sta-icon-sheet: "\e001";
$sta-icon-edit: "\e002";
$sta-icon-folder: "\e003";
$sta-icon-google: "\e004";
$sta-icon-notification: "\e005";
$sta-icon-shared-folder: "\e006";
$sta-icon-chat: "\e007";

/* Fonts */
$gentium-family: "Gentium Basic", serif;
$open-sans-family: "Open Sans", sans-serif;
$muli-family: "Muli", sans-serif;
$flaticon-family: Flaticon;
