@import "../settings/colors.scss";

table {
  border-spacing: 0;
}

.card .details table {
  width: 100%;

  tbody tr {
    &:last-child {
      td {
        border-bottom: none;
      }
    }

    td {
      border-bottom: 1px solid $grey2;
      padding: 10px 0px;

      .folder {
        &:before {
          content: "\e003";
          color: $grey4;
          font-family: Flaticon;
          font-size: 14px;
          font-style: normal;
          margin-right: 7px;
        }

        a {
          color: $blue;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  thead tr th {
    border-bottom: 1px solid $greyBlue;
    color: $grey4;
    padding: 5px 0px;
  }
}

.puzzle-rounds {
  li {
    list-style: none;
    margin: 30px 0px;

    .puzzle-round {
      width: 100%;
      .header {
        background: $darkBlue;
        color: white;
        cursor: pointer;
        line-height: 30px;
        padding: 5px;
        vertical-align: middle;
        &:before {
          content: "";
          display: inline-block;
          margin: 0px 3px;
          @include triangle-down(5px, 5px, 5px, white);
        }

        .progress {
          display: inline-block;
          float: right;
          font-size: 12px;
          font-weight: 300;
          .solved {
            color: $green;
            padding-right: 5px;
          }

          .unlocked {
            border-left: 1px solid white;
            padding-left: 8px;
          }
        }
      }

      table {
        border: 1px solid $darkBlue;
        width: 100%;
        thead {
          tr {
            background: $grey2;
            font-family: "Open Sans", sans-serif;
            th {
              font-weight: 600;
              font-size: 13px;
              padding: 8px 5px;
            }
          }
        }

        tbody {
          tr {
            background: white;
            font-family: "Gentium Basic", serif;
            td {
              border-top: 1px solid $darkBlue;
              font-size: 13px;
              padding: 8px 5px;

              &.answer {
                font-weight: bold;
              }

              .status {
                background: $grey2;
                height: 15px;
                width: 100px;

                .identification {
                  background: $red;
                  height: 100%;
                  width: 25%;
                }

                .needsclosing {
                  background: $orange;
                  height: 100%;
                  width: 80%;
                }

                .groundwork {
                  background: $teal;
                  height: 100%;
                  width: 50%;
                }

                .interaction {
                  background: $teal;
                  height: 100%;
                  width: 95%;
                }

                .solved {
                  background: $green;
                  height: 100%;
                  width: 100%;
                }

                .interaction, .solved {
                  color: white;
                  font-family: "Open Sans", sans-serif;
                  font-size: 10px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }

    &:first-child {
      margin-top: 0px;
    }

    .metameta {
      .header {
        background: $blue;
      }

      table {
        border: 1px solid $blue;
        tbody {
          tr {
            td {
              border-top: 1px solid $blue;
            }
          }
        }
      }
    }

    .solved {
      .header {
        background: $green;
        .solved-tag {
          background: $darkBlue;
          color: white;
          font-size: 10px;
          padding: 3px 8px;
          margin-left: 10px;
        }

        .progress {
          .solved {
            color: white;
          }
        }
      }

      table {
        border-color: $green;
        tbody {
          tr {
            td {
              border-color: $green;
            }
          }
        }
      }
    }

    .closed {
      .header:before {
        @include triangle-right(5px, 5px, 5px, white);
        margin-right: 0px;
      }
      table {
        display: none;
      }
    }
  }
}