@import "settings/mixins.scss";
@import "settings/colors.scss";

.side-nav {
  $nav-padding: 10px;

  background: transparentize($grey1, 0.5);
  display: inline-block;
  height: 100%; 
  width: 250px;

  h3 {
    padding: 10px;
    padding-bottom: 0px;
  }

  h4 {
    padding: 0 $nav-padding;
  }

  ul {
    margin-top: 15px;
    padding-bottom: $nav-padding;

    li {
      cursor: pointer;
      font-size: 0.8em;
      list-style: none;
      margin: 4px 0px;

      &.active {
        a {
          color: $teal;
          font-weight: 700;
        }
      }
      a {
        display: block;
        padding: 7px $nav-padding;

        &:hover {
          background: $teal;
          color: white;
        }
      }

      ul.submenu {
        margin: 5px 0px 5px 15px;

        li {
          font-size: 1em;

          a {
            border-left: 3px solid transparent;
            color: inherit;
            font-size: 12px;
            font-weight: 400;
            padding: 7px $nav-padding 7px 5px;

            &:hover {
              background: none;
              border-color: $teal;
              color: inherit;
            }
          }
        }
      }
    }
  }
}

.side-content {
  @include calc-width(100%, 290px);

  display: inline-block;
  height: 100%;
  margin-left: 10px;
  padding: 10px;
  vertical-align: top;

  .tab-content {
    height: 100%;
    position: relative;

    li {
      display: none;

      &.active {
        display: block;
      }

      ul li {
        display: block;
      }
    }
  }
}
