body {
  margin: 0;
}

#toolbar {
  background: linear-gradient(to top, #f5f5f5, #eee);
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
  color: #6d6d6d;
  font-size: 12px;
  height: 100vh;
  white-space: nowrap;
}

.loading-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 100vh;
  margin-left: 10px;
}

.loading-subtitle {
  font-style: italic;
  line-height: 100vh;
  margin-left: 5px;
}

.Toolbar {
  align-items: center;
  display: flex;
}

.Toolbar-puzzleStatus {
  color: #fff;
  display: inline-block;
  height: 100vh;
  line-height: 100vh;
  margin-right: 10px;
  padding: 0 10px;
  text-transform: uppercase;
}
.Toolbar-puzzleStatus.needsExtraction {
  background: #e88714;
}
.Toolbar-puzzleStatus.solved {
  background: #07b05a;
}

.Toolbar-puzzleName {
  color: #333;
  margin-top: -2px;
  font-weight: 500;
}

.Toolbar-link {
  border-bottom: 1px dotted;
  color: #1c71b9;
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
}
.Toolbar-link:hover {
  border-bottom-style: solid;
}

.Toolbar-right {
  display: flex;
  line-height: 100vh;
  margin-left: auto;
}

.Toolbar-userImage {
  height: 100vh;
  margin-left: 1px;
}
