body {
  margin: 0;
}

#toolbar {
  background: linear-gradient(to top, #f5f5f5, #eee);
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
  color: #6d6d6d;
  font-size: 12px;
  height: 100vh;
  white-space: nowrap;
}

.loading-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 100vh;
  margin-left: 10px;
}

.loading-subtitle {
  font-style: italic;
  line-height: 100vh;
  margin-left: 5px;
}

/**
 * Toolbar
 */
.Toolbar {
  align-items: center;
  display: flex;
}

.Toolbar-puzzleName {
  color: #333;
  margin-top: -2px;
  font-weight: 500;
}

.Toolbar-link {
  border-bottom: 1px dotted;
  color: #1c71b9;
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
}
.Toolbar-link:hover {
  border-bottom-style: solid;
}

.Toolbar-right {
  display: flex;
  line-height: 100vh;
  margin-left: auto;
}

/**
 * PuzzleStatusPicker
 */
.PuzzleStatusPicker {
  display: flex;
  margin-right: 10px;
}

.PuzzleStatusPicker-statusButton {
  background: #d6d6d6;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 100vh;
  line-height: 100vh;
  margin-right: 1px;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  transition: .3s max-width;
}
.PuzzleStatusPicker-statusButton:not(.isCurrent):hover,
.PuzzleStatusPicker-statusButton.isPending {
  opacity: .5;
}
.PuzzleStatusPicker-statusButton.new {
  max-width: 50px;
  width: 50px;
}
.PuzzleStatusPicker-statusButton.new:hover,
.PuzzleStatusPicker-statusButton.new.isCurrent {
  background: #9050d4;
}
.PuzzleStatusPicker-statusButton.inProgress {
  max-width: 100px;
  width: 100px;
}
.PuzzleStatusPicker-statusButton.inProgress:hover,
.PuzzleStatusPicker-statusButton.inProgress.isCurrent {
  background: #e88714;
}
.PuzzleStatusPicker-statusButton.stuck {
  max-width: 60px;
  width: 60px;
}
.PuzzleStatusPicker-statusButton.stuck:hover,
.PuzzleStatusPicker-statusButton.stuck.isCurrent {
  background: #e12548;
}
.PuzzleStatusPicker-statusButton.solved {
  max-width: 66px;
  width: 66px;
}
.PuzzleStatusPicker-statusButton.solved:hover,
.PuzzleStatusPicker-statusButton.solved.isCurrent {
  background: #07b05a;
}
.PuzzleStatusPicker.isCollapsed .PuzzleStatusPicker-statusButton:not(.isCurrent) {
  max-width: 0;
  margin: 0;
}

/**
 * Avatar
 */
.Avatar {
  display: inline-block;
  height: 24px;
  margin-right: 1px;
  position: relative;
  width: 24px;
}

.Avatar-image {
  height: 100%;
  width: 100%;
}

.Avatar-tooltip {
  background: #333;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .5);
  color: #fff;
  line-height: 20px;
  margin-right: 5px;
  padding: 0 5px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 100%;
  top: 2px;
  transition: .2s opacity;
}
.Avatar-tooltip::after {
  border: 5px solid;
  border-color: transparent #333;
  border-right: none;
  content: "";
  display: block;
  left: 100%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}
.Avatar:hover .Avatar-tooltip {
  opacity: 1;
}
