<div class='content'>
  <ul class='puzzle-rounds'>
    <li>
      <div class='puzzle-round metameta'>
        <div class='header'>
          <span class='title'>META (META)+</span>
        </div>
        <table cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th>PUZZLE</th>
              <th>STATUS</th>
              <th>CATEGORY</th>
              <th>METAS SOLVED</th>
              <th>ANSWER</th>
              <th>PUZZLERS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Workshop Meta Meta</td>
              <td>
                <div class='status'>
                  <div class='untouched'></div>
                </div>
              </td>
              <td>CROSSWORD</td>
              <td>1/3</td>
              <td></td>
              <td>Stephanie Y., Joseph L., 5 others</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
    <li>
      <div class='puzzle-round'>
        <div class='header'>
          <span class='title'>MACHINE ROOM</span>
          <div class='progress'>
            <span class='solved'>18 SOLVED</span>
            <span class='unlocked'>20 UNLOCKED</span>
          </div>
        </div>
        <table cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th>PUZZLE</th>
              <th>STATUS</th>
              <th>CATEGORY</th>
              <th>ANSWER</th>
              <th>PUZZLERS</th>
            </tr>
          </thead>
          <tbody>
            <tr class='meta'>
              <td>Meta</td>
              <td>
                <div class='status'>
                  <div class='identification'></div>
                </div>
              </td>
              <td></td>
              <td class='answer'></td>
              <td>Darren Y., Kenny Y.</td>
            </tr>
            <tr>
              <td>Erraticism</td>
              <td>
                <div class='status'>
                  <div class='needsclosing'></div>
                </div>
              </td>
              <td>CROSSWORD</td>
              <td class='answer'></td>
              <td>Stephanie Y., Victor H., 5 others</td>
            </tr>
            <tr>
              <td>Takeout Ordering</td>
              <td>
                <div class='status'>
                  <div class='groundwork'></div>
                </div>
              </td>
              <td>INDEXING</td>
              <td class='answer'></td>
              <td>David W., Victor H., 3 others</td>
            </tr>
            <tr>
              <td>Montages</td>
              <td>
                <div class='status'>
                  <div class='interaction'>INTERACTION</div>
                </div>
              </td>
              <td>DISNEY, LYRICS</td>
              <td class='answer'></td>
              <td>Lindsey S., Tricia S., 10 others</td>
            </tr>
            <tr>
              <td>Imba</td>
              <td>
                <div class='status'>
                  <div class='untouched'></div>
                </div>
              </td>
              <td></td>
              <td class='answer'></td>
              <td></td>
            </tr>
            <tr>
              <td>A Rare Teak</td>
              <td>
                <div class='status'>
                  <div class='solved'>SOLVED</div>
                </div>
              </td>
              <td>IMAGE RECOGNITION, WORD DIFFERENCE</td>
              <td class='answer'>PRAWN</td>
              <td>Victor H.</td>
            </tr>
        </table>
      </div>
    </li>
    <li>
      <div class='puzzle-round solved closed'>
        <div class='header'>
          <span class='title'>OPTICS</span>
          <span class='solved-tag'>SOLVED!</span>
          <div class='progress'>
            <span class='solved'>19 SOLVED</span>
            <span class='unlocked'>22 UNLOCKED</span>
          </div>
        </div>
        <table cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th>PUZZLE</th>
              <th>STATUS</th>
              <th>CATEGORY</th>
              <th>ANSWER</th>
              <th>PUZZLERS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Optics Meta</td>
              <td>
                <div class='status'>
                  <div class='solved'>SOLVED</div>
                </div>
              </td>
              <td>CROSSWORD</td>
              <td class='answer'>ANSWER</td>
              <td>Stephanie Y., Joseph L., 5 others</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

