<div class='login'>
  <div class='login-container'>
    <div class='login-image person-{{random}}'>
    </div>
    <div class='login-title'>
      super team awesomeboard
    </div>
    <div class='login-subtitle'>
      let's have some mystery hunt fun
    </div>
    <a class='login-button' href='/auth/google'>
      <span class="flaticon-google"></span>
      <span class="text">Sign in with Google</span>
    </a>
  </div>
  <canvas id='poofytoo'></canvas>
</div>