<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-scope" content="profile email">
    <title>SuperTeamAwesome</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Gentium+Basic:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    {{{ body }}}
    <script src="/javascripts/app.js"></script>
  </body>
</html>