<div class="start">
    <h1>Welcome to Super Team Awesome</h1>
    <p class="much-em">bit.ly/atsstart</p>
    <h2>
        Important Links:
    </h2>
    <p>Hi! We have a bunch of things for you</p>
    <ul>
        <li>
            <a href="http://bit.ly/atshuntfood19">Food Orders Here</a>
        </li>
        <li>
            <a href="https://bit.ly/atshuntslack">Slack Here</a>
        </li>
        <li>
            <a href="http://bit.ly/atshunthangouts">Google hangouts</a>
        </li>
    </ul>
    <h2>
        Steps to Start hunting!
    </h2>
    <h3>Install The Chrome Extension</h3>
    <p>
        <ol>
            <li>Install <a href="http://bit.ly/atshuntchrome">the STA Chrome Extension</a></li>
            <li>Log in via your gmail and slack, and make sure it appears in your chrome toolbar!</li>
        </ol>
    </p>
    <h3>Hunt Website</h3>
    <p>
        usr: superteamawesome
        <br /> pw: atsrox
        <br /> (shhh this is a secret!)
    </p>
    <h3>Make sure you're on <a href="http://bit.ly/atshuntslack">Slack!</a></h3>
    <p>
        Channels to join:<br />
        <ul>
            <li><a href="https://superteamawesome.slack.com/messages/C0JJDJ1HN/">#puzzle-status</a> - for updates on when puzzle answers are called in</li>
            <li><a href="https://superteamawesome.slack.com/messages/C03CTM9US/">#printer</a> - For printing requests if you need to print out a puzzle (for those solving locally).</li>
            <li><a href="https://superteamawesome.slack.com/messages/C8R48QJSF/">#tech-support</a> - For help using the Chrome extension, dashboard, etc.</li>
        </ul>
    </p>
    <h2>
        Questions? Need permissions on anything?
    </h2>
    <p>
        Contact @julzhuang on slack!
    </p>
    <p>408-596-1761</p>
    <h2>
        Additional, Less Important Things
    </h2>
    <p>
        <li>
            <a href="http://bit.ly/atshuntreference">Reference List</a>
        </li>
        <li>
            <a href="http://bit.ly/atshunt19">Google Drive</a>
        </li>
    </p>
</div>