<div class="start">
    <h1>Welcome to Super Team Awesome</h1>
    <p class="much-em">superteamaweso.me/start</p>
    <h2>
        Remote Solvers:
    </h2>
    <p>Hi! We have some awesome
        <a href="https://docs.google.com/document/d/1lr9TIkSg42Y-9rKJk7vyBjxtNo4EHdaiQvzHwxJOHC4/edit?userstoinvite=victorhung92%40gmail.com&ts=5a5791bb">FEATURES</a> for you!</p>
    <h2>
        Important Links:
    </h2>
    <p>Hi! We have a bunch of things for you</p>
    <ul>
        <li>
            <a href="https://docs.google.com/spreadsheets/d/1rghjWMPRL7yjxXZS1eGaQXo_5lGZT2Emx5hM-RteN04/edit#gid=45697417">Food Orders Here</a>
        </li>
        <li>
            <a href="https://superteamawesome.slack.com">Slack Here</a>
        </li>
    </ul>
    <h2>
        Steps to Start hunting!
    </h2>
    <h3>Install The Chrome Extension</h3>
    <p>
        <ol>
            <li>Install <a href="http://bit.ly/atshuntchrome">the STA Chrome Extension</a></li>
            <li>Log in via your gmail and slack, and make sure it appears in your chrome toolbar!</li>
        </ol>
    </p>
    <h3>Hunt Website</h3>
    <p>
        usr: superteamawesome
        <br /> pw: atsrox
        <br /> (shhh this is a secret!)
    </p>
    <h3>Make sure you're on <a href="https://superteamawesome.slack.com">Slack!</a></h3>
    <p>
        Channels to join:<br />
        <ul>
            <li><a href="https://superteamawesome.slack.com/messages/C0JJDJ1HN/">#puzzle-status</a> - for updates on when puzzle answers are called in</li>
            <li><a href="https://superteamawesome.slack.com/messages/C03CTM9US/">#printer</a> - For printing requests if you need to print out a puzzle (for those solving locally).</li>
            <li><a href="https://superteamawesome.slack.com/messages/C8R48QJSF/">#tech-support</a> - For help using the Chrome extension, dashboard, etc.</li>
        </ul>
    </p>
    <h2>
        Questions? Need permissions on anything?
    </h2>
    <p>
        Contact @julzhuang on slack!
    </p>
    <p>408-596-1761</p>
    <h2>
        Additional, Less Important Things
    </h2>
    <p>
        <li>
            <a href="http://bit.ly/atshuntreference">Reference List</a>
        </li>
        <li>
            <a href="http://bit.ly/atshunt18">Google Drive</a>
        </li>
    </p>
    <h2>Camera!</h2>
    <iframe type="text/html" frameborder="0" width="480" height="394" src="//video.nest.com/embedded/live/5ugzEys49K?autoplay=1" allowfullscreen></iframe>
</div>